body, input, select, textarea {
  color: #585858;
  font-family: 'Courier New', 'Courier New', Courier, monospace;
  font-weight: 300;
  line-height: 1.7;
}

a{
  text-decoration: none;
  color: #585858;
}

/* pseudo class */
a:hover{
	text-decoration: underline;
}


/* main content pg */
a{
  font-size: 20px;
}

/* function(i,html) {
    return html.replace(/(@\w+)/g, '<span class="twitterHandle">$&</span>');
}); */
