
html, body, ul, h1, h2, h3{
    margin: 0;
    padding: 0; 
    width: 90vw; 
    height: 90vh; 
    /*overflow: hidden;*/
    font-family: 'Courier New', Courier, monospace;
    color: #585858;
}


/* DESKTOP VIEW */

img {
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	border-radius: 50%;
	width: 250px;
	
}



#greet{
	font-size: 22px;
	font-weight:bolder;
}

p{
	font-size: 15px;
	
}

div {
	/* align bio to center */
	text-align: center;
}


#nav{
	width: 100%;
	position: absolute;
	top: 2%;
}

#nav a{
	text-decoration: none;
	color: #585858;
}


#nav li{

	text-align: center; 
	font-weight: bold;	
	font-size: 22px;
	padding: 20px;
	list-style-type: none;
	
}	


ul{

	justify-content: center;
	display: flex; 
}

a{
	color: #585858;
}
.footer{
	position: static;
	left: 0;
	right: 0;
	
	font-size: 20px;
	
}

/* social media icons */

.fa{

	padding: 6px;
	width: 1em;
	text-align: center;
	border-radius: 50%;
	text-decoration: none;
	border: 1px solid #585858;
	text-align: center;
	

}


/* hover opacity effects */
.fa:hover {
	opacity: 0.7;
  }
  
  /* set color for icons */

  .fa-twitter, .fa-github, .fa-instagram, .fa-linkedin {
	color: #585858;

  }

/* psuedo classes */
ul#nav li a:hover{
	text-decoration: underline;
}






/* RESPONSIVE STYLES */
  /* viewport adjustments / media queries */


  /* mobile view */
	@media screen and (max-width: 430px){
	
		 #footer{
			 bottom: 10%;

		}

		.fa{

			padding: 10px;
			border-radius: 50%;
			text-decoration: none;
			border: 1px solid #585858;
			text-align: center;
		
		}
} 


	
